* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

.header {
  /* border: 1px solid black; */
  width: 100%;
  padding: 0 100px 0 100px;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header img {
  height: 30px;
}

.header button {
  background: none;
  border: 1px solid #ff52bf;
  color: #ff52bf;
  border-radius: 30px;
  width: 110px;
  padding: 5px;
  font-size: 12px;
}

.hero {
  width: 100%;
  height: 600px;
  display: grid;
  justify-items: center;
  align-content: center;
}

.hero h1 {
  width: 100%;
  text-align: center;
  font-size: 50px;
  margin: 15px;
}
.hero p {
  padding: 0 450px 0 450px;
  text-align: center;
  margin: 0 0 15px 0;
  font-size: 20px;
}
.hero button {
  background: #ff52bf;
  border: 1px solid #ff52bf;
  border-radius: 100px;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  font-size: 18px;
  height: 80px;
  margin: 40px;
  padding: 30px 0 30px 0;
  width: 400px;
}

.information {
  width: 100%;
  height: 1200px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 70% 30%;
}
.information img {
}
